table, th, td {
    border:1px solid black;
    padding: 5px;
    height: 30px;
    text-align: center;

  }

  table {
      display: inline-table;
  }

  input[type='text'] {
      text-align: center;
      background-color: None;
  }