/* HTML */
html {
    font-family: 'Coolvetica', sans-serif;
    font-size: 16px;
    color: #704d4a;
}

input[type=text], input[type=number] {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    box-shadow: inset 0 0 3px #7a7a7a;
    border: 0;
    padding-inline: 5px;
}

input[type=password] {
    box-shadow: inset 0 0 3px #7a7a7a;
    border: 0;
    padding-inline: 5px;
    height: 17px;
    width: 185px;
}

body {
    margin: 0px;
}

main {
    margin: 49px 0px 0px 0px;
}

/* Nav Bar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.navbar ul {
    list-style-type: none;
    background-color: #9c9c9c;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    box-shadow: 0 -1px 0 #000;
}

.navbar a:hover{
    background-color: #b7b7b7;
    color: black;
}

.navbar li{
    float: left;
}

/* Header */
header {
    background-color: #fdf4ca;
    padding: 10px;
}

/* Footer */
footer {
    margin-top: 5%;
    background-color: #9c9c9c;
    height: 100px;
    display: grid;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
}

header .grid {
    /* border: 1px, black, solid; */
    width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: 70% 30%;
}

header .title {
    /* border: 1px #000 solid; */
    align-self: end;
}

header .title #heading {
    color: #ff595e;
    font-size: 10.5rem;
    margin: 0px;
    height: 150px;
}

header .title #subtitle {
    display: block;
    color: #95625e;
    font-size: 1.9rem;
    margin: 0px;
    position: relative;
    bottom: -10px;
    z-index: 1;
}

header .title #searching {
    width: 595px;
    height: 15px;
    border-style: none;
    border-radius: 30px;
    padding: 15px;
    box-shadow: inset 0 0 10px #7a7a7a;
}

header .icon {
    /* border: 1px #000 solid; */
    grid-column: 2;
    grid-row: 1/3;
}

header .icon #logo {
    display: block;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

/* Classroom buttons */
.home-classroom-background {
    /* border: 1px #000 solid; */
    height: 20%;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: #fdf4ca;
}

.home-classroom-buttons {
    /* border: 1px #000 solid; */
    margin-inline: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    transform: scale(1.05);
}

.home-classroom-buttons a {
    text-decoration: none;
    color: inherit;
}

.home-classroom-buttons div {
    /* border: 1px #000 solid; */
    background-color: #6cceff;
    height: 210px;
    box-shadow: inset -4px -4px 20px #8a8a8a;
    padding: 20px;
}

.home-classroom-buttons div:hover {
    filter: brightness(1.1);
}

.home-classroom-buttons .home-classroom-title {
    margin: 0;
    font-size: 2rem;
}

.home-classroom-buttons .home-classroom-subtitle {
    margin-top: 0;
    color: white;
}

/* Home main buttons */
.home-main-background {
    /* border: 1px #000 solid; */
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: #fdf4ca;
}

.home-main-buttons {
    /* border: 1px #000 solid; */
    margin-inline: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    transform: scale(1.05);
}

.home-main-buttons a {
    text-decoration: none;
    color: inherit;
}

.home-main-buttons div {
    /* border: 1px #000 solid; */
    background-color: #6cceff;
    height: 210px;
    box-shadow: inset -4px -4px 20px #8a8a8a;
    padding: 20px;
}

.home-main-buttons div:hover {
    filter: brightness(1.1);
}

.home-main-buttons .home-main-title {
    margin: 0;
    font-size: 2rem;
}

.home-main-buttons .home-main-subtitle {
    margin-top: 0;
    color: white;
}

.home-main-buttons div:nth-child(3n-2) {
    /* border: 1px #000 solid; */
    background-color: #55c6ff;
}

.home-main-buttons div:nth-child(3n-1) {
    /* border: 1px #000 solid; */
    background-color: #77cffc;
}

.home-main-buttons div:nth-child(3n) {
    /* border: 1px #000 solid; */
    background-color: #6abfe9;
}

/* Word listed and lookfor */
.word-searchbar #searching {
    display: block;
    width: 50%;
    height: 15px;
    border-style: none;
    border-radius: 30px;
    padding: 15px;
    box-shadow: inset 0 0 10px #7a7a7a;
    margin: auto;
    margin-block: 0;
    position: relative;
    top: 22px;
}

.word-title-background {
    display: grid;
    background-color: #fdf4ca;
    padding: 10px;
}

.word-title-background p {
    color: #ff595e;
    font-size: 6.5rem;
    margin: 0;
    margin-left: 15%;
}

.word-definition {
    margin-inline: 23%;
    color: #95625e;
    font-size: 1.5rem;
}

.word-definition p {
    font-size: 1rem;
    margin-top: 5px;  
    margin-inline: 20px;
}

.word-content-background {
    background-color: #fdf4ca;
}

.word-content-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    transform: scale(1.05);
    margin-inline: 25%;
    margin-bottom: 50px;
    margin-top: 50px;
}

.word-content-grid div {
    /* border: 1px solid black; */
    background-color: white;
    box-shadow: 1px 1px 8px #8a8a8a;
    padding: 10px;
}

.word-content-grid > div > p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.word-synonym {
    grid-column: 1/4;
    grid-row: 1;
}

.word-sentence {
    grid-column: 4/11;
    grid-row: 1;
}

.word-collocation {
    grid-column: 1/4;
    grid-row: 2;
}

.word-form {
    grid-column: 1/4;
    grid-row: 3;
}

.word-picture {
    grid-column: 4/11;
    grid-row: 2/4;
}

.word-picture img {
    display: block;
    background-size: cover;
    width: 350px;
    margin: auto;
}

.word-nextprev {
    display: flex;
    margin: auto;
    justify-content: center;
}

.word-nextprev button {
    font-family: inherit;
    font-size: inherit;
    border: 0px;
    height: 50px;
    width: 150px;
    margin: 15px;
    background-color: #ff595e;
    color: white;
    box-shadow: 1px 1px 8px #8a8a8a;
}

.word-nextprev button:active {
    transform: scale(0.95);
}

/* User details */
.deets-username {
    display: grid;
    background-color: #fdf4ca;
    padding: 10px;
}

.deets-username p {
    color: #ff595e;
    font-size: 6.5rem;
    margin: 0;
    margin-left: 15%;
}

.deets-sublist-container {
    display: grid;
    margin-top: 30px;
    margin-bottom: 40px;
}

.deets-sublist {
    margin: auto;
}

.deets-prog-background {
    background-color: #fdf4ca;
    margin-top: 30px;
}

.deets-prog-grid {
    margin-inline: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 350px));
    grid-gap: 10px;
    transform: scale(1.05);
}

.deets-noprog {
    height: 200px;
}

.deets-prog-grid div:not(.deets-prog-pie) {
    display: block;
    background-color: white;
    box-shadow: 1px 1px 8px #8a8a8a;
    padding: 15px;
}
.deets-prog-grid .deets-prog-title {
    margin: 0;
    font-weight: bold;
}

.deets-prog-grid div p {
    margin-bottom: 0;
}

.deets-prog-pie {
    /* border: 1px solid black; */
    display: grid;
    width: 100%;
    aspect-ratio: 1;
}

.deets-prog-pie::before {
    /* border: 1px solid black; */
    align-self: center;
    justify-self: center;
    content: '';
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-image: conic-gradient(var(--color), calc(var(--percentage)*1%), #0000 0);
    mask:radial-gradient(farthest-side,#0000 calc(99% - var(--border-thickness)),#000 calc(100% - var(--border-thickness)));
}

.deets-prog-pie span {
    position: absolute;
    align-self: center;
    justify-self: center;
    font-size: 2rem;
}

.deets-button {
    border: 0px;
    width: 75px;
    height: 30px;
    box-shadow: 1px 1px 2px #8a8a8a;
    font-family: inherit;
    color: inherit;
    font-weight: lighter;
}

/* Login and Signup */
.login-signup-enrol-background {
    display: grid;
    background-color: #fdf4ca;
    height: 400px;
    margin-top: 5%;
}

.login-signup-enrol-wrapper {
    align-self: center;
    background-color: white;
    box-shadow: 1px 1px 8px #8a8a8a;
    padding: 25px;
    width: 320px;
    margin: auto;
}
.login-signup-enrol-wrapper p {
    margin: 0;
}

.login-signup-enrol-wrapper > #title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.login-signup-enrol-wrapper > form > p {
    margin-bottom: 20px;
}

.login-signup-enrol-wrapper > form > p > input[type=submit] {
    display: block;
    border: 0px;
    margin: auto;
    width: 75px;
    height: 30px;
    box-shadow: 1px 1px 2px #8a8a8a;
}

/* Choose a sublist */
.sublist-title-background {
    background-color: #fdf4ca;
}

.sublist-title-background p {
    color: #ff595e;
    font-size: 6.5rem;
    margin: 0;
    margin-left: 10%;
}

.sublist-buttons-background {
    margin-top: 30px;
    background-color: #fdf4ca;
}

.sublist-grid {
    margin-inline: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, auto));
    grid-gap: 10px;
    transform: scale(1.05);
}

.sublist-grid a {
    text-decoration: none;
    color: inherit;
}

.sublist-grid div {
    background-color: #6cceff;
    height: 210px;
    box-shadow: inset -4px -4px 20px #8a8a8a;
    padding: 20px;
}

.sublist-grid div:hover {
    filter: brightness(1.1);
}

.sublist-grid .sublist-button-title {
    margin: 0;
    font-size: 2rem;
}

.sublist-grid .sublist-button-subtitle {
    margin-top: 0;
    color: white;   
}

/* all words */
.allwords-searchbar #searching {
    display: block;
    width: 50%;
    height: 15px;
    border-style: none;
    border-radius: 30px;
    padding: 15px;
    box-shadow: inset 0 0 10px #7a7a7a;
    margin: auto;
    margin-block: 0;
}

.allwords-container {
    background-color: #fdf4ca;
    padding: 3%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    grid-gap: 10px;
}

.allwords-words {
    background-color: white;
    height: 50px;
    box-shadow: 2px 1px 3px #7a7a7a;
    padding: 10px;
}
/* Sublist chooser for quizzes */
.quiz-sublist-title-background {
    background-color: #fdf4ca;
}

.quiz-sublist-title-background p {
    color: #ff595e;
    font-size: 6.5rem;
    margin: 0;
    margin-left: 10%;
}

.quiz-sublist-background {
    margin-top: 5%;
    background-color: #fdf4ca;
}

.quiz-sublist-wrapper {
    margin-inline: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, auto));
    grid-gap: 10px;
    transform: scale(1.05);
}

.quiz-sublist-button {
    border: 0;
    background-color: #6cceff;
    height: 210px;
    box-shadow: inset -4px -4px 20px #8a8a8a;
    padding: 20px;
    
    font-family: inherit;
    font-size: 2rem;
    color: inherit;
}

.quiz-sublist-button:hover {
    filter: brightness(1.1);
}

/* Fill in the blanks */
.fill-background {
    background-color: #9bf2fb;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 4%;
}

.fill-background p {
    margin: 0;
    font-size: 3rem;
    color: #ff595e;
    background-color: white;
}

.fill-table {
    border-collapse: seperate;
    border-spacing: 0.5rem;
    margin-top: 2%; 
    margin-inline: 15%;
}

.fill-table th,.fill-table td {
    height: 30px;
    font-size: 1.3rem;
    background-color: #fdf4ca;
    box-shadow: 1px 1px 2px #8a8a8a;
}

.fill-table th {
    border: 0;
}

.fill-table td {
    border: 0;  
    padding: 20px;
}

.fill-input {
    text-align: center;
    background-color: None;
}

.fill-choices {
    width: 136px;
    text-align: center;
}

/* Change the form */
.form-background {
    background-color: #9bf2fb;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 4%;
}

.form-background p {
    margin: 0;
    font-size: 3rem;
    color: #ff595e;
    background-color: white;
}

.form-table {
    border-collapse: seperate;
    border-spacing: 0.5rem;
    margin-top: 2%; 
    margin-inline: 15%;
}

.form-table th,.form-table td {
    height: 30px;
    font-size: 1.3rem;
    background-color: #fdf4ca;
    box-shadow: 1px 1px 2px #8a8a8a;
}

.form-table th {
    border: 0;
}

.form-table td {
    border: 0;  
    padding: 20px;
    text-align: center;
}

.form-input {
    text-align: center;
    background-color: None;
}

/* Match the words */
.match-background {
    background-color: #9bf2fb;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 4%;
}

.match-background p {
    margin: 0;
    font-size: 3rem;
    color: #ff595e;
    background-color: white;
}

.match-choices-container {
    padding: 3%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.match-choices {
    border: 0;
    padding-inline: 10px;
    height: 250px;
    font-family: inherit;
    color: inherit;
    font-size: 1.3rem;
    background-color: #fdf4ca;
    box-shadow: 1px 1px 2px #8a8a8a;
}

.match-choices:hover {
    transform: scale(0.98);
}

/* Question and Answer */
.qna-background {
    background-color: #9bf2fb;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 4%;
}

.qna-background > .qna-title {
    margin: 0;
    font-size: 3rem;
    color: #ff595e;
    background-color: white;
}

.qna-question-container {
    background-color: #fdf4ca;
    width: 80%;
    margin-top: 3%;
    padding: 10px;
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: 1px 1px 10px #8a8a8a;
}

.qna-question {
    font-size: 2rem;
}

.qna-choices-container {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.qna-choices {
    border: 0;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    padding: 10px;
    min-height: 100px;
    margin: 5px;
    box-shadow: 1px 1px 5px #8a8a8a;
}

.qna-choices:hover {
    transform: scale(0.98);
}

.qna-choices:disabled {
    background-color: white;
}

/* Quiz */
.quiz-background {
    background-color: #9bf2fb;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 4%;
}

.quiz-background > .quiz-title {
    margin: 0;
    font-size: 3rem;
    color: #ff595e;
    background-color: white;
}

.quiz-question-container {
    background-color: #fdf4ca;
    width: 80%;
    margin-top: 3%;
    padding: 10px;
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: 1px 1px 10px #8a8a8a;
}

.quiz-question {
    font-size: 2rem;
}

.quiz-choices-container {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.quiz-choices {
    border: 0;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    padding: 10px;
    min-height: 100px;
    margin: 5px;
    box-shadow: 1px 1px 5px #8a8a8a;
}

.quiz-choices:hover, .quiz-submit:hover {
    transform: scale(0.98);
}

.quiz-submit {
    border: 0;
    font-family: inherit;
    color: inherit;
    font-size: 1rem;
    margin-top: 3%;
    width: 250px;
    height: 100px;
    box-shadow: 1px 1px 5px #8a8a8a;
}

/* Custom Quiz */
.custom-quiz-background {
    background-color: #9bf2fb;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 4%;
}

.custom-quiz-background > .custom-quiz-title {
    margin: 0;
    font-size: 3rem;
    color: #ff595e;
    background-color: white;
}

.custom-quiz-question-container {
    background-color: #fdf4ca;
    width: 80%;
    margin-top: 3%;
    padding: 10px;
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: 1px 1px 10px #8a8a8a;
}

.custom-quiz-question {
    font-size: 2rem;
}

.custom-quiz-choices-container {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.custom-quiz-choices {
    border: 0;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    padding: 10px;
    min-height: 100px;
    margin: 5px;
    box-shadow: 1px 1px 5px #8a8a8a;
}

.custom-quiz-choices:hover, .custom-quiz-submit:hover {
    transform: scale(0.98);
}

.custom-quiz-submit {
    border: 0;
    font-family: inherit;
    color: inherit;
    font-size: 1rem;
    margin-top: 3%;
    width: 250px;
    height: 100px;
    box-shadow: 1px 1px 5px #8a8a8a;
}

/* Classrooms */
.classroom-title-background {
    background-color: #6cceff;
    color: white;
    padding: 15px;
}

.classroom-title {
    font-size: 3rem;
    margin: 0;
}

.classroom-desc {
    margin: 0;
    margin-top: -5px;
    font-size: 1.5rem;
}

.classroom-container {
    margin-inline: 10%;
    background-color: #fdf4ca;
    padding: 3%;
}

/* Classroom navigation */
.classroom-nav {
    margin: auto;
    margin-block: 1%;
    width: fit-content;
    padding: 10px;
    display: flex;
    gap: 50px;
}

.classroom-nav a {
    justify-self: center;
    text-decoration: none;
    color: inherit;
}

.classroom-nav a:hover {
    border-radius: 2px;
    background-color: #cdcdcd;
}

/* Classroom stream for everyone */
.stream-quiz-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 20%));
    grid-gap: 10px;
}

.teacher-quiz {
    height: 120px;
    background-color: white;
    display: grid;
    box-shadow: 1px 1px 5px #8a8a8a;
    padding: 10px;
}

.teacher-quiz:hover {
    filter: brightness(0.85);
}

.teacher-quiz > a {
    text-decoration: none;
    color: inherit;
}

.teacher-quiz-archive {    
    border: 0px;
    width: 75px;
    height: 30px;
    box-shadow: 1px 1px 2px #8a8a8a;

    align-self: end;
    justify-self: center;
    font-family: inherit;
    color: inherit;
    font-weight: lighter;
}

.teacher-quiz-archive:hover {
    filter: brightness(0.85);
}

.stream-quiz-container > a {
    text-decoration: none;
    color: inherit;
}

.student-quiz {
    height: 120px;
    background-color: white;
    display: grid;
    box-shadow: 1px 1px 5px #8a8a8a;
    padding: 10px;
}

.student-quiz:hover {
    filter: brightness(0.85);
}

/* People for teachers */
.teacher-prog-container {
    display: grid;
}

.teacher-prog-search {
    width: 595px;
    height: 15px;
    border-style: none;
    border-radius: 30px;
    padding: 15px;
    box-shadow: inset 0 0 10px #7a7a7a;
    margin: auto;
}

.teacher-prog-students-background {
    background-color: #fdf4ca;
    margin-top: 5%;
}

.students-link {
    text-decoration: none;
    color: inherit;
}

.teacher-prog-students-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    grid-gap: 10px;
}

.teacher-prog-students {
    height: 100px;
    padding: 10px;
    background-color: white;
    box-shadow: 1px 1px 3px #8a8a8a;
}

.teacher-prog-students:hover {
    filter: brightness(0.83);
}

/* People for students */
.people-container {
    background-color: #fdf4ca;
}

.people-students, .people-teacher {
    height: 50px;
    padding: 10px;
    background-color: white;
    margin-bottom: 10px;
    align-content: center;
}

/* Student details */
.student-sublist-container {
    display: grid;
    margin-top: 30px;
    margin-bottom: 40px;
}

.student-sublist {
    margin: auto;
}

.student-prog-background {
    background-color: #fdf4ca;
    margin-top: 30px;
}

.student-prog-grid {
    margin-inline: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 350px));
    grid-gap: 10px;
    transform: scale(1.05);
}

.student-noprog {
    height: 200px;
}

.student-prog-grid div:not(.student-prog-pie) {
    display: block;
    background-color: white;
    box-shadow: 1px 1px 8px #8a8a8a;
    padding: 15px;
}

.student-prog-grid .student-prog-title {
    margin: 0;
    font-weight: bold;
}

.student-prog-grid div p {
    margin-bottom: 0;
}

.student-prog-pie {
    /* border: 1px solid black; */
    display: grid;
    width: 100%;
    aspect-ratio: 1;
}

.student-prog-pie::before {
    /* border: 1px solid black; */
    align-self: center;
    justify-self: center;
    content: '';
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-image: conic-gradient(var(--color), calc(var(--percentage)*1%), #0000 0);
    mask:radial-gradient(farthest-side,#0000 calc(99% - var(--border-thickness)),#000 calc(100% - var(--border-thickness)));
}

.student-prog-pie span {
    position: absolute;
    align-self: center;
    justify-self: center;
    font-size: 2rem;
}

.student-button {
    border: 0px;
    width: 75px;
    height: 30px;
    box-shadow: 1px 1px 2px #8a8a8a;
    font-family: inherit;
    color: inherit;
    font-weight: lighter;
}

/* Sublist chooser for create quiz */
.create-title {
    justify-self: center;
    text-align: center;
    color: #6cceff;
    font-size: 3rem;
    margin: auto;
    background-color: white;
}

.create-sublist-background {
    margin-top: 5%;
    background-color: #fdf4ca;
}

.create-sublist-wrapper {
    margin-inline: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, auto));
    grid-gap: 10px;
    transform: scale(1.05);
}

.create-sublist-button {
    border: 0;
    background-color: white;
    box-shadow: 1px 1px 5px #8a8a8a;
    height: 210px;
    padding: 20px;
    
    font-family: inherit;
    font-size: 2rem;
    color: inherit;
}

.create-sublist-button:hover {
    filter: brightness(0.83);
}

/* Create quiz */
.create-form-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 10px;
    margin-inline: 3%;
    margin-bottom: 3%;
}

.create-form-container > div {
    background-color: white;
    box-shadow: 1px 1px 2px #8a8a8a;
    padding: 5%;
}

.create-form-container > div > h4 {
    margin: 0;
    font-size: 1.1rem;
}

.create-name-container {
    grid-column: 1/3;
    grid-row: 1;
}

.create-items-container {
    grid-column: 1/3;
    grid-row: 2;
}

.create-type-container {
    grid-column: 1/3;
    grid-row: 3;
}

.create-words-container {
    grid-column: 3/6;
    grid-row: 1/4;
}

.create-words-container > #word-selection > button {
    border: 0;
    padding: 5px;
    margin: 3px;
    font-family: inherit;
    color: inherit;
}

.create-words-container > #word-selection > button:hover {
    filter: brightness(0.83);
}

.create-submit-container {
    display: flex;
}

#quiz-submit {
    margin: auto;
    border: 0;
    font-family: inherit;
    color: inherit;
    font-size: 1rem;
    width: 150px;
    height: 40px;
    box-shadow: 1px 1px 5px #8a8a8a;
}

#quiz-submit:hover {
    filter: brightness(0.83);
}

/* Admin powers */
.admin-title-background {
    background-color: #fdf4ca;
}

.admin-title-background p {
    color: #ff595e;
    font-size: 6.5rem;
    margin: 0;
    margin-left: 10%;
}

.admin-buttons-background {
    margin-top: 30px;
    background-color: #fdf4ca;
}

.admin-grid {
    margin-inline: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, auto));
    grid-gap: 10px;
    transform: scale(1.05);
}

.admin-grid a {
    text-decoration: none;
    color: inherit;
}

.admin-grid div {
    background-color: #6cceff;
    height: 210px;
    box-shadow: inset -4px -4px 20px #8a8a8a;
    padding: 20px;
}

.admin-grid div:hover {
    filter: brightness(1.1);
}

.admin-grid > a > div > .admin-button-title {
    color: inherit;
    margin: 0;
    font-size: 2rem;
}

.admin-grid > a > div > p {
    margin-top: 0;
    color: white;   
}

/* Disable an account */
.disacc-title-background {
    background-color: #fdf4ca;
}

.disacc-title-background p {
    color: #ff595e;
    font-size: 6.5rem;
    margin: 0;
    margin-left: 10%;
}

.disacc-background {
    display: grid;
    background-color: #fdf4ca;
    margin-top: 3%;
    padding: 3%;
}

.disacc-search {
    width: 595px;
    height: 15px;
    border-style: none;
    border-radius: 30px;
    padding: 15px;
    margin-bottom: 3%;
    box-shadow: inset 0 0 10px #7a7a7a;
    justify-self: center;
}

.disacc-accounts-grid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
}

.disacc-accounts {
    background-color: white;
    height: 50px;
    box-shadow: 2px 1px 3px #7a7a7a;
    padding: 10px;
    display: grid;
    grid-template-columns: 70% 30%;
    align-content: center;
}

.disacc-accounts > button {
    background-color: #fdf4ca;
    border: 0px;
    box-shadow: 1px 1px 2px #8a8a8a;
    min-height: 30px;

    font-family: inherit;
    color: inherit;
    font-weight: lighter;
}

.disacc-accounts > button:hover {
    filter: brightness(0.83);
} 

/* Disable classrooms */
.disclass-title-background {
    background-color: #fdf4ca;
}

.disclass-title-background p {
    color: #ff595e;
    font-size: 6.5rem;
    margin: 0;
    margin-left: 10%;
}

.disclass-background {
    display: grid;
    background-color: #fdf4ca;
    margin-top: 3%;
    padding: 3%;
}

.disclass-search {
    width: 595px;
    height: 15px;
    border-style: none;
    border-radius: 30px;
    padding: 15px;
    margin-bottom: 3%;
    box-shadow: inset 0 0 10px #7a7a7a;
    justify-self: center;
}

.disclass-classrooms-grid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
}

.disclass-classrooms {
    background-color: white;
    height: 50px;
    box-shadow: 2px 1px 3px #7a7a7a;
    padding: 10px;
    display: grid;
    grid-template-columns: 70% 30%;
    align-content: center;
}

.disclass-classrooms > button {
    background-color: #fdf4ca;
    border: 0px;
    box-shadow: 1px 1px 2px #8a8a8a;
    min-height: 30px;

    font-family: inherit;
    color: inherit;
    font-weight: lighter;
}

.disclass-classrooms > button:hover {
    filter: brightness(0.83);
} 

/* Grant or reject teachers */
.reqteach-title-background {
    background-color: #fdf4ca;
}

.reqteach-title-background p {
    color: #ff595e;
    font-size: 6.5rem;
    margin: 0;
    margin-left: 10%;
}

.reqteach-background {
    display: grid;
    background-color: #fdf4ca;
    margin-top: 3%;
    padding: 3%;
}

.reqteach-search {
    width: 595px;
    height: 15px;
    border-style: none;
    border-radius: 30px;
    padding: 15px;
    margin-bottom: 3%;
    box-shadow: inset 0 0 10px #7a7a7a;
    justify-self: center;
}

.reqteach-accounts-grid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
}

.reqteach-accounts {
    background-color: white;
    height: 50px;
    box-shadow: 2px 1px 3px #7a7a7a;
    padding: 10px;
    display: grid;
    grid-template-columns: 60% 20% 20%;
    grid-gap: 3px;
    align-content: center;
}

.reqteach-accounts > button {
    background-color: #fdf4ca;
    border: 0px;
    box-shadow: 1px 1px 2px #8a8a8a;
    min-height: 30px;

    font-family: inherit;
    color: inherit;
    font-weight: lighter;
}

.reqteach-accounts > button:hover {
    filter: brightness(0.83);
} 