{% extends 'layout.html' %}

{% block main_space %}

<header>
    <div class='grid'>
        <div class='title'>
            <p id='heading'>AWLette</p>
            <p id='subtitle'>academic word list companion</p>
        </div><!--'title'-->
        <div class='icon'>
            <img id='logo' src = "\static\images\AWLette_icon.png" width = "250" height = "250" alt = "mga mukha nyo to mwuahaha"/>
        </div><!--'icon'-->
    </div><!--'grid'-->
</header>

<div class='error-message'>
    <p class='error-title'>
        404: This page does not exist :(
    </p>
    <div class='error-subtitle'>
        <p>
            Try the following:
            <ol>
                <li>checking the url for typos.</li>
                <li>refreshing the page.</li>
            </ol>
        </p>
    </div><!--'error-subtitle'-->
</div><!--'error-message'-->

{% endblock %}