{% extends 'layout.html' %}

{% block main_space %}

<header>
    <div class='grid'>
        <div class='title'>
            <p id='heading'>AWLette</p>
            <p id='subtitle'>academic word list companion</p>
        </div>

        <div class='header-icon'>
            <img id='logo' src = "\static\images\AWLette_icon.png" width = "250" height = "250" alt = "mga mukha nyo to mwuahaha"/>
        </div>

        <div class='about-message'>
            <p>Expanding one’s vocabulary has always been a part of the educational endeavour of everyone, especially 13 ESL students. More specifically, these students are required to learn the AWL (academic word list), which contains 570 of the most commonly used English words in an academic context.</p>
            <p>AWLette is an academic word list companion. The AWL is a compilation of the most frequently used words in the English language in the context of academics. For this reason, English students, especially 13 ESL students, are required to learn this list as part of the curriculum. Specifically, they are expected to be familiar with the words’ definition, synonyms, collocations, and their other forms, such as as a noun, verb, or adjective. Moreover, the words are to also be used by the students in a sentence and in different contexts such as in reading materials, listening exercises, and oral presentations, which makes it all the more essential that the AWL is assimilated.</p>
            <p>Considering the fact that the available options are either not made specifically for learning the AWL or are locked behind a paywall, a need for a better option is created. AWLette strives to provide the necessary information for 13 ESL students to efficiently learn the AWL and offer effective learning exercises to ensure the retention of knowledge and as means of revision.
            </p>
        </div>
    </div>
</header>

{% endblock %}