{% extends 'layout.html' %}

{% block main_space %}

<header>
    <div class='grid'>
        <div class='title'>
            <p id='heading'>AWLette</p>
            <p id='subtitle'>academic word list companion</p>
        </div>
        <div class='icon'>
            <img id='logo' src = "\static\images\AWLette_icon.png" width = "250" height = "250" alt = "mga mukha nyo to mwuahaha"/>
        </div>
    </div>
</header>

<div class='about-message'>
    <p>About message</p>
</div>

{% endblock %}