{% extends 'layout.html' %}

{% block main_space %}

<header>
    <div class='grid'>
        <div class='title'>
            <p id='heading'>AWLette</p>
            <p id='subtitle'>academic word list companion</p>
        </div>
        <div class='icon'>
            <img id='logo' src = "\static\images\AWLette_icon.png" width = "250" height = "250" alt = "mga mukha nyo to mwuahaha"/>
        </div>
    </div>
</header>

<div class='about-message'>
    <p>Expanding one’s vocabulary has always been a part of the educational endeavour of everyone, especially 13 ESL students. More specifically, these students are required to learn the AWL (academic word list), which contains 570 of the most commonly used English words in an academic context.</p>
</div>

{% endblock %}