{% extends 'layout.html' %}
{% block content %}

<script>
    function searchFor(searchbar, accounts) {
        searchbar.addEventListener('keyup', function() {
            accounts.forEach(function(account) {
                if (account.innerHTML.toLowerCase().includes(searchbar.value.toLowerCase()) == true) {
                    account.style.display = '';
                } else {
                    account.style.display = 'none';
                };
            });
        });
    };

    function disableAccount(button, account) {
        attribute = account.getAttribute('data-disabled'); 
        if (attribute == 'true') {
            button.style.backgroundColor = '#ff595e';
            button.innerHTML = 'Enable Account';
        } else {
            button.style.backgroundColor = '';
            button.innerHTML = 'Disable Account';
        };

        const xhttp = new XMLHttpRequest();
        xhttp.onload = function() {
            console.log(xhttp.responseText);
        };

      button.addEventListener('click', function() {
        if (account.getAttribute('data-disabled') == 'false') {
            button.style.backgroundColor = '#ff595e';
            button.innerHTML = 'Enable Account';
            account.setAttribute('data-disabled', 'true');

            disableDict = {
                'disable' : account.id.replace('a', '')
            };

            
            xhttp.open('POST', '{{ url_for('account_disabler') }}', true);
            xhttp.setRequestHeader('Content-Type', 'application/json');
            xhttp.send(JSON.stringify({disableDict}));

            button.stopPropagation();
        } else if (account.getAttribute('data-disabled') == 'true') {
            button.style.backgroundColor = '';
            button.innerHTML = 'Disable Account';
            account.setAttribute('data-disabled', 'false');

            disableDict = {
                'enable' : account.id.replace('a', '')
            };

            xhttp.open('POST', '{{ url_for('account_disabler') }}', true);
            xhttp.setRequestHeader('Content-Type', 'application/json');
            xhttp.send(JSON.stringify({disableDict}));
        };
      });  
    };
</script>

<div class='disacc-title-background'>
    <p>Disable an account</p>
</div>

<div class='disacc-background'>
    <input class='disacc-search' id='search' form='none' type='text' placeholder='Search for an account.'><br><br>    
    
    <div class='disacc-accounts-grid'>
    {% for user in users %}
        <div class='disacc-accounts' id='a{{ user.id }}'
        {% if user.is_disabled %}
            data-disabled='true'
        {% else %}
            data-disabled='false'
        {% endif %}>
            <span>{{user.id}} | {{ user }}</span><button id='disable{{ loop.index }}'>Disable Account</button>
        </div>
        <script>
            disableAccount(document.getElementById('disable{{ loop.index }}'),
                           document.getElementById('a{{ user.id }}'))
        </script>
    {% endfor %}
    </div>

</div>

<script>
    searchFor(document.getElementById('search'),
              document.querySelectorAll('.disacc-accounts'))
</script>

{% endblock %}