{% extends 'classroom_layout.html' %}
{% block classroom %}

<script>
  const nav = document.getElementById('stream');
  nav.removeAttribute('href');

  nav.style.borderBottom = '2px solid #704d4a';

  function archiveQuiz(button, quiz) {
    if (quiz.getAttribute('data-archived') == 'true') {
      button.innerHTML = 'Unarchive';
      button.style.backgroundColor = '#ff595e';
      button.style.color = 'white';
    } else {
      button.innerHTML = 'Archive';
      button.style.backgroundColor = '';
      button.style.color = 'inherit';
    };
    
    button.addEventListener('click', function() {
      if (quiz.getAttribute('data-archived') == 'false') {
        quiz.setAttribute('data-archived', 'true');
        button.innerHTML = 'Unarchive';
        button.style.backgroundColor = '#ff595e';
        button.style.color = 'white';

        archiveDict = {
          'archive' : quiz.id.replace('a', '')
        };

        const xhttp = new XMLHttpRequest()
        xhttp.onload = function() {
          console.log(xhttp.responseText);
        };
        xhttp.open('POST', '{{ url_for('quiz_archiver') }}', true);
        xhttp.setRequestHeader('Content-Type', 'application/json');
        xhttp.send(JSON.stringify({archiveDict}))

        button.stopPropagation();
      };
      if (quiz.getAttribute('data-archived') == 'true') {
        quiz.setAttribute('data-archived', 'false');
        button.innerHTML = 'Archive';
        button.style.backgroundColor = '';
        button.style.color = 'inherit';

        archiveDict = {
          'unarchive' : quiz.id.replace('a', '')
        };

        const xhttp = new XMLHttpRequest()
        xhttp.onload = function() {
          console.log(xhttp.responseText);
        };
        xhttp.open('POST', '{{ url_for('quiz_archiver') }}', true);
        xhttp.setRequestHeader('Content-Type', 'application/json');
        xhttp.send(JSON.stringify({archiveDict}));        
      };
    });
  };
</script>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class='classroom-container'>

  {% if not quizzes %}
    No quizzes for you right now.
  {% endif %}
  
<div class='stream-quiz-container'>

{% if current_user.is_teacher == 1 %}

  {% for quiz in quizzes %}
  
      <div class='teacher-quiz'>
        <a id='a{{ quiz.id }}' href='{{ url_for('custom_quiz_progress', classroom_id=classroom.id, quiz_id=quiz.id) }}'
          {% if quiz.is_archived %}
            data-archived='true'
          {% else %}
            data-archived='false'
          {% endif %}>
          {{ quiz.name }}
        </a>
        <button class='teacher-quiz-archive' id='b{{ quiz.id }}'>Archive</button>
      </div>

    <script>
      archiveQuiz(document.getElementById('b{{ quiz.id }}'),
                  document.getElementById('a{{ quiz.id }}'));
    </script>

  {% endfor %}

{% else %}

  {% for quiz in quizzes %}
    <a href='{{ url_for('custom_quiz', classroom_id=classroom.id, quiz_id=quiz.id) }}'>
      <div class='student-quiz'>{{ quiz.name }}</div>
    </a>
  {% endfor %}

{% endif %}

</div>

</div>

{% endblock %}