{% extends 'classroom_layout.html' %}
{% block classroom %}

<script>
  const nav = document.getElementById('stream');
  nav.removeAttribute('href');

  nav.style.borderBottom = '2px solid #704d4a';

  function archiveQuiz(button, quiz) {
    if (quiz.getAttribute('data-archived') == 'true') {
      button.innerHTML = 'Unarchive';
      button.style.backgroundColor = '#6e6e6e';
    } else {
      button.innerHTML = 'Archive';
      button.style.backgroundColor = '';
    };
    
    button.addEventListener('click', function() {
      if (quiz.getAttribute('data-archived') == 'false') {
        quiz.setAttribute('data-archived', 'true');
        button.innerHTML = 'Unarchive';
        button.style.backgroundColor = '#6e6e6e';

        archiveDict = {
          'archive' : quiz.id.replace('a', '')
        };

        const xhttp = new XMLHttpRequest()
        xhttp.onload = function() {
          console.log(xhttp.responseText);
        };
        xhttp.open('POST', '{{ url_for('quiz_archiver') }}', true);
        xhttp.setRequestHeader('Content-Type', 'application/json');
        xhttp.send(JSON.stringify({archiveDict}))

        button.stopPropagation();
      };
      if (quiz.getAttribute('data-archived') == 'true') {
        quiz.setAttribute('data-archived', 'false');
        button.innerHTML = 'Archive';
        button.style.backgroundColor = '';

        archiveDict = {
          'unarchive' : quiz.id.replace('a', '')
        };

        const xhttp = new XMLHttpRequest()
        xhttp.onload = function() {
          console.log(xhttp.responseText);
        };
        xhttp.open('POST', '{{ url_for('quiz_archiver') }}', true);
        xhttp.setRequestHeader('Content-Type', 'application/json');
        xhttp.send(JSON.stringify({archiveDict}));        
      };
    });
  };
</script>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class='classroom-container'>

<h4>Quizzes</h4>

{% if current_user.is_teacher == 1 %}
<ul>
  {% for quiz in quizzes %}
    <li>
      <a id='a{{ quiz.id }}' href='{{ url_for('custom_quiz_progress', classroom_id=classroom.id, quiz_id=quiz.id) }}'
      {% if quiz.is_archived %}
        data-archived='true'
      {% else %}
        data-archived='false'
      {% endif %}>{{ quiz.name }}</a>
      <button id='b{{ quiz.id }}'>Archive</button>
    </li>
  
    <script>
      archiveQuiz(document.getElementById('b{{ quiz.id }}'),
                  document.getElementById('a{{ quiz.id }}'));
    </script>
  
  {% endfor %}
</ul>

{% else %}

<ul>
  {% if not quizzes %}
    <li>No quizzes for you right now.</li>
  {% endif %}
  {% for quiz in quizzes %}
    <li><a href='{{ url_for('custom_quiz', classroom_id=classroom.id, quiz_id=quiz.id) }}'>{{ quiz.name }}</a></li>
  {% endfor %}
</ul>

{% endif %}

</div>

{% endblock %}