{% extends 'classroom_layout.html' %}
{% block classroom %}

<script>
    const nav = document.getElementById('create-quiz');
    nav.removeAttribute('href');
  
    nav.style.borderBottom = '2px solid #704d4a';
  
    wordpoolGood = null;
    questionTypeGood = null;
    itemGood = null;
    nameGood = null;

    function searchFor(searchbar, words) {
        searchbar.addEventListener('keyup', function() {
            words.forEach(function(word) {
                if (word.innerHTML.includes(searchbar.value) == true) {
                    word.style.display = '';
                } else if (word.innerHTML.includes(searchbar.value) == false) {
                    word.style.display = 'none';
                };
            });
        });
    };

    function chooseOne(form, submit, checkboxes, error) {
        submit.addEventListener('mousedown', function() {
            clickedOne = null
            for (let checkbox of checkboxes) {
                if (checkbox.checked == true) {
                    clickedOne = true;
                };
            };
            if (clickedOne == null) {
                questionTypeGood = null;
                error.style.display = 'block';
                form.addEventListener('submit', function(event) {
                    event.preventDefault();
                });
            } else {
                questionTypeGood = true;
                error.style.display = 'none';
                if (questionTypeGood == true && itemGood == true && nameGood == true) {
                    form.submit();
                };
            };
        });
    ;}

    function wordPoolSelection(buttons, wordpool) {
        selection = [];
        poolAmount = 0;
        buttons.forEach(function(button) {
            button.clickCount = 0
            button.addEventListener('click', function(event){
                if (button.clickCount == 0) {
                    button.clickCount = 1;
                    poolAmount++;
                    wordpool.setAttribute('data-amount', poolAmount.toString());
                    button.style.backgroundColor = '#90ee90';
                    selection.push(Number(button.id.replace('a', '')));
                    wordpool.value = JSON.stringify(selection);
                    this.stopPropagation();
                };
                if (button.clickCount == 1) {
                    button.clickCount = 0;
                    poolAmount--;
                    wordpool.setAttribute('data-amount', poolAmount.toString());
                    button.style.backgroundColor = '';
                    remove = selection.indexOf(button.id.replace('a', ''));
                    selection.splice(remove, 1);
                    wordpool.value = JSON.stringify(selection);
                };
            });
        });
    };

    function wordpoolFilled(form, submit, wordpool, error) {
        submit.addEventListener('mousedown', function() {
            if (wordpool.getAttribute('data-amount') < 5) {
                wordpoolGood = null;
                error.style.display = 'block';
                form.addEventListener('submit', function(event) {
                    event.preventDefault();
                });
            } else {
                wordpoolGood = true;
                error.style.display = 'none';
                if (questionTypeGood == true && itemGood == true && nameGood == true) {
                    form.submit();
                };
            };
        });
    };

    function itemAnswered(submit, item) {
        submit.addEventListener('mousedown', function() {
            if (5 <= item.value <= 60) {
                itemGood = true;
            };
        });
    };

    function nameAnswered(submit, name) {
        submit.addEventListener('mousedown', function() {
            if (item.value) {
                nameGood = true;
            };
        });
    };
</script>

<div class='classroom-container'>

<!-- While there is no value for 'sublist' -->
{% if not sublist %}

<p class='create-title'>Quiz for which sublist?</p>

<form method='GET'>
    <div class='create-sublist-background'>
        <div class='create-sublist-wrapper'>
            <button class='create-sublist-button' name='sublist' type='submit' value='1'>Sublist 1</button>
            <button class='create-sublist-button' name='sublist' type='submit' value='2'>Sublist 2</button>
            <button class='create-sublist-button' name='sublist' type='submit' value='3'>Sublist 3</button>
        </div>
    </div>
</form>

{% else %}

<form id='quiz' method='POST' enctype="multipart/form-data">    
    <div class='create-form-container'>
        {{ form.csrf_token }} 
        <div class='create-name-container'>
            <h4>What will your quiz be called?</h4>
            <p>{{ form.name(placeholder='e.g. My Quiz') }}</p>
        </div>

        <div class='create-items-container'>
            <h4>How many items in the quiz?</h4>
            <p>{{ form.item(placeholder='at least 5.', style='width: 200px') }}</p>
        </div>

        <div class='create-type-container'>
            <h4>Which type of questions?</h4>
            {% for type in form.question_type %}
                <p>{{ type(class='question_type') }}{{ type.label }}</p>
            {% endfor %}
            <span class='create-type-error create-error'>Choose at least one type.</span>
        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
        {% endwith %} 

      
        <div class='create-words-container'>
            <h4>Select the words you want included in the quiz:</h4>

            {{ form.word_pool }}
            <!-- search bar -->
             <div id='word-selection' style='background-color: #b3b3b3; margin: 10px; padding: 10px; border-radius: 2px'>
            <p><input id='search' form='none' type='text' placeholder='Search for a word.'></p>

            {% for word in words %}
                <button form='none' class='words' id='a{{ word.id }}'>{{ word }}</button>
            {% endfor %}
            </div>

            <span class='create-words-error create-error'>Choose at least five words.</span>

        </div>

        <script>
            searchFor(document.getElementById('search'),
                      document.querySelectorAll('.words')
            );

            wordPoolSelection(document.querySelectorAll('.words'),
                              document.getElementById('word_pool')
            );
        </script>

    </div>
    <div class='create-submit-container'>
    <input id='quiz-submit' type='submit' value='Create Quiz'>
    </div>

</form>

<script>
    chooseOne(document.getElementById('quiz'),
              document.getElementById('quiz-submit'),
              document.querySelectorAll('.question_type'),
              document.querySelector('.create-type-error')
    );

    wordpoolFilled(document.getElementById('quiz'),
                   document.getElementById('quiz-submit'),
                   document.getElementById('word_pool'),
                   document.querySelector('.create-words-error')
    );

    itemAnswered(document.getElementById('quiz-submit'),
                 document.getElementById('item')
    );

    nameAnswered(document.getElementById('quiz-submit'),
                 document.getElementById('name')
    );
</script>

{% endif %}

</div>

{% endblock %}