{% extends 'classroom_layout.html' %}
{% block classroom %}

<script>
    function searchFor(searchbar, students) {
        searchbar.addEventListener('keyup', function() {
            students.forEach(function(students) {
                if (students.id.toLowerCase().includes(searchbar.value.toLowerCase()) == true) {
                    students.style.display = '';
                } else if (students.id.toLowerCase().includes(searchbar.value) == false) {
                    students.style.display = 'none';
                };
            });
        });
    };
</script>

<div class='custquiz-progress-background'>


    <input class='teacher-prog-search' id='search' type='text' placeholder='Search for a student.'>

    <h4>Student Progress</h4>

    <div class='custquiz-progress-grid'>
    {% for tracker in trackers %}
        <div class='students 
        {% if ((tracker.score|score_count / tracker.quiz.item) * 100) |round(2) == 0 %}
            custquiz-failed
        {% else %}
            custquiz-answered
        {% endif %}
        ' id='{{ tracker.student }}'>{{ tracker.student }} - {{ ((tracker.score|score_count / tracker.quiz.item) * 100) |round(2) }}%</div>
    {% endfor %}

    {% if not_answered %}
        {% for student in not_answered %}
            <div class='students custquiz-not-answered' id='{{student}}'>{{ student }}</div>
        {% endfor %}
    {% endif %}
    </div>
</div>

<script>
    searchFor(document.getElementById('search'),
              document.querySelectorAll('.students'))
</script>

{% endblock %}