{% include 'nav.html' %}

<!-- Styling for table -->
<style>
    table, th, td {
      border:1px solid black;
    }
</style>

<!-- While there is no value for 'sublist' -->
{% if not sublist %}

Choose a sublist:
<form action='{{url_for('fill_in_the_blank')}}' method='GET'>
    <ul>
        <li><button name='sublist' type='submit' id='sublist_button' value='1'>Sublist 1</button></li>
    </ul>
</form>

{% endif %}

<!-- When 'sublist' has value -->
{% if sublist %}

<p>You picked Sublist No.{{ sublist }}</p>

<!-- Lists all the randomly chosen forms with its respective sentence -->
<table>
    <tr>
        <th>Words</th>
        <th>Sentences</th>
    </tr>
    {% for form in random_forms %}
    <tr>
        <td id='form'>{{ form|lower }}</td>
         <td>
            <!-- I used Jinja to basically replace the 'form' inside the sentence
            with a text input field -->
            {% set sentence_blanked1 = [] %}
            {% set sentence_blanked2 = [] %}
            {% set next_block = False %}
            {% set myDict = ({ 'Go': True }) %}
            {{ myDict['Go'] }}
            {% do myDict.update({ 'Go' : False}) %}
            {{ myDict['Go'] }}

                {% for word in (form.sentence|lower).split() %}
                    {% if word|lower != form.form|lower and next_block == False %}
                        {{ sentence_blanked1.append(word) or "" }}
                        {{ '1' }}
                    {% elif word|lower == form|lower %}
                        {% set next_block = True %}
                        <strong>{{ '0' }}</strong>
                    {% endif %}
                    {% if word|lower != form.form|lower and next_block == True %}
                        {{ sentence_blanked2.append(word) or "" }}
                        {{ '2' }}
                    {% endif %}
                {% endfor %}

            {# 
                {{ sentence_blanked2|join(' ')|capitalize }}
            #}
         </td>
    </tr>
    {% endfor %}
</table>

{% endif %}
