{% extends 'layout.html' %}

{% block content %}
<!-- Scripting -->
<script>
    // array for holding '1' for each correct question answered
    var count = 0;
    var correctItem = {
        'fill' : '',
        'sublist' : {{ sublist|tojson }}
    };

    // Function for checking if the answer is right or wrong
    function rightOrWrong(input, answer) {
        
        // adds an event listener that listens for a 'keyup' event
        // ('keyup' is when a key pressed is released)
        input.addEventListener('keyup', function(event) {
            if (event.key === 'Enter') {
                if (input.value.toLowerCase() == answer.innerHTML.toLowerCase()) {
                    console.log('You got it!');
                    input.setAttribute('readonly', 'true');
                    input.style.backgroundColor = '#90ee90';

                    count++;
                    correctItem['fill'] = answer.getAttribute('data-form_id');
                    const xhttp = new XMLHttpRequest();
                    xhttp.onload = function () {
                        console.log(xhttp.responseText);
                    };
                    xhttp.open('POST', '{{ url_for('progress_tracker') }}', true);
                    xhttp.setRequestHeader('Content-Type', 'application/json');
                    xhttp.send(JSON.stringify({correctItem}));

                    if (count == 5) {
                        location.reload();
                    };
                }

                else if (input.value.toLowerCase() != answer.innerHTML.toLowerCase()) {
                    console.log('Wrong answer!');
                    input.style.backgroundColor = '#ff7f7f';
                };
            };
        });
    };
</script>

{% if not sublist %}

<div class='quiz-sublist-title-background'>
    <p>Choose a sublist:</p>
</div><!--'quiz-sublist-title-background'-->

<form action='{{url_for('fill_in_the_blank')}}' method='GET'>
    <div class='quiz-sublist-background'>
        <div class='quiz-sublist-wrapper'>
            <button class='quiz-sublist-button' name='sublist' type='submit' value='1'>Sublist 1</button>
            <button class='quiz-sublist-button' name='sublist' type='submit' value='2'>Sublist 2</button>
            <button class='quiz-sublist-button' name='sublist' type='submit' value='3'>Sublist 3</button>
        </div><!--'quiz-sublist-wrapper'-->
    </div><!--'quiz-sublist-background'-->
</form>
{% endif %}

{% if sublist %}
<div class='fill-background'>

<p>Fill in the blank with the correct word.</p>

<table class='fill-table'>
    <tr>
    {% for form in random_forms|shuffle %}
        <td class='fill-choices' id='b{{ random_forms.index(form) }}' data-form_id='{{ form.id }}'>{{ form|capitalize }}</td>
    {% endfor %}
    </tr>
</table>

<table class='fill-table'>
    <tr>
        <th>Fill in the Blanks</th>
    </tr>
    <!-- 'form' refers to the words' other forms
    (as an adjective, verb, noun, etc.) -->
    {% for form in random_forms %}
    <tr>    
         <td>
            <!-- I used Jinja to basically replace the 'form' inside the sentence
            with a text input field -->

            <!-- Set empty lists for the two sentence blocks -->
            {% set sentence_blanked1 = [] %}
            {% set sentence_blanked2 = [] %}          

                <!-- For loop to add each 'word' of the sentence to their respective blocks -->
                {% for word in (form.sentence|lower).split() %}
                    {% if word|lower != form.form|lower and sentence_blanked1[-1] != False %}
                        {{ sentence_blanked1.append(word) or "" }}

                    {% elif word|lower == form|lower %}
                        {{ sentence_blanked1.append(False) or "" }}
                    {% endif %}

                    {% if word|lower != form.form|lower and sentence_blanked1[-1] == False %}
                        {{ sentence_blanked2.append(word) or "" }}
                    {% endif %}
                {% endfor %}

                {{ sentence_blanked1.pop(-1) or "" }}

                {{ sentence_blanked1|join(' ')|capitalize }} 
                <input class='fill-input' type='text' id='a{{ loop.index }}'></input> 
                {{ sentence_blanked2|join(' ') }}

                <script>
                    rightOrWrong(   document.getElementById('a{{ loop.index }}'),
                                    document.getElementById('b{{ random_forms.index(form) }}'));
                </script>
            </td>
    </tr>
    {% endfor %}
</table>

{% endif %}

</div><!--'fill-background'-->

{% endblock %}