{% extends 'layout.html' %}

{% block content %}
<!-- Scripting -->
<script>
    // initializes a dict to send to server later
    var correctItem = {
        'form' : '',
        'sublist' : {{ sublist|tojson }}
    };

    // sets a constant to 'random_blank_amount'
    const blankAmount = 15 - {{ random_blank_amount|tojson }};

    // 'correctItems' to increment '1' for every corect item
    var count = 0;

    console.log(blankAmount);

    // Function for checking if the answer is right or wrong
    function rightOrWrong(input, answer) {
        
        // adds an event listener that listens for a 'keyup' event
        // ('keyup' is when a key pressed is released)
        input.addEventListener('keyup', function(event) {

            // if the key is 'Enter'...
            if (event.key === 'Enter') {

                // ...do the following:
                // if the lowercase value of 'input' is equal to the 
                // lowercase inner HTML of 'answer'...
                if (input.value.toLowerCase() == answer.value.toLowerCase()) {

                    // logs in console
                    console.log('You got it!');

                    // sets the 'readonly' attribute of 'input' to true
                    input.setAttribute('readonly', 'true');

                    // makes the bg color of 'input' green
                    input.style.backgroundColor = '#90ee90';

                    // increments 1 to 'correctItems'
                    count++;
                    correctItem['form'] = answer.getAttribute('data-form_id');
                    console.log(correctItem['form']); //  DEBUG

                    // using AJAX, use an XMLHttpRequest() to pass the id
                    const xhttp = new XMLHttpRequest();
                    xhttp.onload = function () {
                        console.log(xhttp.responseText);
                    };
                    xhttp.open('POST', '{{ url_for('progress_tracker') }}', true);
                    xhttp.setRequestHeader('Content-Type', 'application/json');
                    xhttp.send(JSON.stringify({correctItem}));

                    // if correctItems is equal to 'blankAmount', reload page
                    if (count == blankAmount) {
                        location.reload();
                    };
                }

                // else, if they are not equal...
                else if (input.value.toLowerCase() != answer.value.toLowerCase()) {

                    // ...logs in console
                    console.log('Wrong answer!');

                    // makes bg color of 'input' red
                    input.style.backgroundColor = '#ff7f7f';
                }
            }
        })
    };
</script>

<!-- While there is no value for 'sublist' -->
{% if not sublist %}

Choose a sublist:
<form action='{{url_for('form')}}' method='GET'>
    <ul>
        <li><button name='sublist' type='submit' id='sublist_button' value='1'>Sublist 1</button></li>
        <li><button name='sublist' type='submit' id='sublist_button' value='2'>Sublist 2</button></li>
        <li><button name='sublist' type='submit' id='sublist_button' value='3'>Sublist 3</button></li>
    </ul>
</form>

{% endif %}

<!-- When 'sublist' has value -->
{% if sublist %}

<p>You picked Sublist No.{{ sublist }}</p>

<table class='form-table'>
    <tr>
        <th>Noun</th>
        <th>Adjective</th>
        <th>Verb</th>
    </tr>
{% for form_sublist in random_forms_main %}
    <tr>
        {% set blanks = random_blank_main[loop.index - 1]|shuffle %}
        <td>
            {% if blanks [0] == 0 %}
                <input class='form-input' type='text' id='a{{ loop.index }}1'></input>
                <input type='hidden' id='b{{ random_forms_main.index(form_sublist) }}1' value='{{ form_sublist[0] }}' data-form_id='{{ form_sublist[0].id }}'></input>

                <script>
                    rightOrWrong(   document.getElementById('a{{ loop.index }}1'),
                                    document.getElementById('b{{ random_forms_main.index(form_sublist) }}1'));
                </script>
            {% else %}
                {{ form_sublist[0]|lower }}
            {% endif %}
        </td>
        <td>
            {% if blanks [1] == 0 %}
                <input class='form-input' type='text' id='a{{ loop.index }}2'></input>
                <input type='hidden' id='b{{ random_forms_main.index(form_sublist) }}2' value='{{ form_sublist[1] }}' data-form_id='{{ form_sublist[1].id }}'></input>

                <script>
                    rightOrWrong(   document.getElementById('a{{ loop.index }}2'),
                                    document.getElementById('b{{ random_forms_main.index(form_sublist) }}2'));
                </script>
            {% else %}
                {{ form_sublist[1]|lower }}
            {% endif %}
        </td>
        <td>
            {% if blanks [2] == 0 %}
                <input class='form-input' type='text' id='a{{ loop.index }}3'></input>
                <input type='hidden' id='b{{ random_forms_main.index(form_sublist) }}3' value='{{ form_sublist[2] }}' data-form_id='{{ form_sublist[2].id }}'></input>

                <script>
                    rightOrWrong(   document.getElementById('a{{ loop.index }}3'),
                                    document.getElementById('b{{ random_forms_main.index(form_sublist) }}3'));
                </script>
            {% else %}
                {{ form_sublist[2]|lower }}
            {% endif %}
        </td>
    </tr>
{% endfor %}
</table>

{% endif %}

{% endblock %}