{% extends 'layout.html' %}

{% block content %}
<!--Searchbar-->

{{result}}  <!--DEBUG-->

<!--Sets the variable 'url' to '/' for the homepage as default.-->
{% set url = '/' %}
    {% if result == -1 %}  <!--If the variable 'result' is equal -->
        {% set url = '/' %}
    {% else %}
        {% set url = '/sublist/words/' + result %}
{% endif %}

{{url}}  <!--DEBUG-->

<form action = {{url}}>
        <input type = 'text' name = 'searching' placeholder = 'search for a word'>
</form>

<!--All the other stuff-->
    <ul>
        <li><a href = '/sublist'>See all the words.</a></li>
        <li><a href = '/fill_in_the_blank'>Fill in the blanks.</a></li>
        <li><a href = '/form'>Change the form.</a></li>
        <li><a href = '/match'>Match the words.</a></li>
        <li><a href = '/question_answer'>Question and Answer.</a></li>
        <li><a href = '/quiz'>Take the quiz.</a></li>
    </ul>
{% endblock %}