{% extends 'layout.html' %}

{% block content %}
<!--Searchbar-->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form action = '{{url_for('word_lookfor')}}', method="GET" enctype="multipart/form-data"> 
  {{ form.csrf_token }} 
  <p>{{ form.searching(placeholder='Search for a word!') }}</p>
</form>

<!--All the other stuff-->
    <ul>
        <li><a href = '/sublist'>See all the words.</a></li>
        <li><a href = '/fill_in_the_blank'>Fill in the blanks.</a></li>
        <li><a href = '/form'>Change the form.</a></li>
        <li><a href = '/match'>Match the words.</a></li>
        <li><a href = '/question_answer'>Question and Answer.</a></li>
        <li><a href = '/quiz'>Take the quiz.</a></li>
    </ul>
{% endblock %}