{% extends 'layout.html' %}

{% block content %}
<!-- Scripting -->
<script>
    // 'correctItem' dict for posting later
    var correctItem = {
        'match' : '',
        'sublist' : {{ sublist|tojson }}
    }; 

    // counts the correct items
    var correctCount = 0;

    // holds count if buton clicked is first or
    // second
    var clickCount = 0;

    // holds the id of the first button clicked
    var id = null;

    // holds the object of the first button clicked
    var first_button = null;

    // holds the answer for the first button clicked
    var first_answer = null;

    function rightOrWrong(input, answer) {
        input.addEventListener('click', function(event) {
            if (clickCount == 1) {
                if (id == input.id) {
                    clickCount++;
                    input.style.backgroundColor = '';

                    console.log(`The count is ${clickCount}`); //  DEBUG
                    console.log(`You took your input back.`) //  DEBUG
                    clickCount = 0;
                }
                else if (id != input.id) {
                    if (input.innerText == first_answer) {
                        input.style.backgroundColor = '#90ee90';
                        first_button.style.backgroundColor = '#90ee90';
                        input.setAttribute('disabled', 'true');
                        first_button.setAttribute('disabled', 'true');

                        correctCount++;

                        correctItem['match'] = answer.getAttribute('data-correct_id');
                        console.log(correctItem['match']); //  DEBUG
                        const xhttp = new XMLHttpRequest();
                        xhttp.onload = function () {
                            console.log(xhttp.responseText);
                        };
                        xhttp.open('POST', '{{ url_for('progress_tracker') }}', true);
                        xhttp.setRequestHeader('Content-Type', 'application/json');
                        xhttp.send(JSON.stringify({correctItem}));
                        console.log('You got it right!'); //  DEBUG
                        clickCount = 0;
                        if (correctCount == 5) {
                            location.reload();
                        };
                    }
                    if (input.innerText != first_answer) {
                        input.style.backgroundColor = '';
                        first_button.style.backgroundColor = '';
                        console.log('Not quite right!'); //  DEBUG
                        clickCount = 0;
                    }
                }
            }
            else if (clickCount == 0) {
                clickCount++;
                id = input.id;
                first_button = input;
                first_answer = answer.value;
                input.style.backgroundColor = '#d3d3d3';
                console.log(`The count is ${clickCount}`); //  DEBUG
                console.log(`You clicked button ${id}`);  // DEBUG
            }
        }
    )};
</script>
{% if not sublist %}

<div class='quiz-sublist-title-background'>
    <p>Choose a sublist:</p>
</div><!--'quiz-sublist-title-background'-->

<form action='{{url_for('match')}}' method='GET'>
    <div class='quiz-sublist-background'>
        <div class='quiz-sublist-wrapper'>
            <button class='quiz-sublist-button' name='sublist' type='submit' value='1'>Sublist 1</button>
            <button class='quiz-sublist-button' name='sublist' type='submit' value='2'>Sublist 2</button>
            <button class='quiz-sublist-button' name='sublist' type='submit' value='3'>Sublist 3</button>
        </div><!--'quiz-sublist-wrapper'-->
    </div><!--'quiz-sublist-background'-->
</form>

{% endif %}

{% if sublist %}
<div class='match-background'>

<!-- counters for 'random_words' and 'random_definitions' - 
 this is for ensuring that the for loop of each button goes
 through each item of the lists. -->
{% set word_counter = [] %}
{% set definition_counter = [] %}

<p>Match the word with its definition.</p>

<!-- creates two shuffled lists from 'random_words', each to be used
 by 'word' type buttons and 'definition' type buttons -->
{% set word_random_words = random_words|shuffle %}
{% set definition_random_words = random_words|shuffle %}


<div class='match-choices-container'>
{% for i in range(10) %}

    <button class='match-choices' id='a{{ loop.index }}'>
        {% if arrange[loop.index - 1] == 0 %}
            {{ word_random_words[word_counter|length] }}
            <input type='hidden' id='aa{{ loop.index }}' value='{{ word_random_words[word_counter|length].definition[0] }}' data-correct_id='{{ word_random_words[word_counter|length].id }}'></input>

            <!-- increments the counter (afaik, there is no
             increment for jinja, so I used a list that I will
             append to and I will count how many items it has) -->
            {% set __ = word_counter.append(1) %}

        {% elif arrange[loop.index - 1] == 1 %}
            {{ definition_random_words[definition_counter|length].definition[0] }}
            <input type='hidden' id='aa{{ loop.index }}' value='{{ definition_random_words[definition_counter|length] }}' data-correct_id='{{ definition_random_words[definition_counter|length].id }}'></input>
            {% set __ = definition_counter.append(1) %}
        {% endif %}
    </button>

    <script>
        rightOrWrong( document.getElementById('a{{ loop.index }}'),
                    document.getElementById('aa{{ loop.index }}'),
                );
    </script>
{% endfor %}
</div><!--'match-choices-container'-->

</div><!--'match-background'-->
{% endif %}
{% endblock %}