{% extends 'layout.html' %}
{% block content %}

<h3>People inside this class:</h3>
<p>Teacher: {{ teacher }}</p>
<p>Students:</p>
<ul>
    {% for student in classroom.student %}
        <li>
            {% if current_user.is_teacher == 1 %}
            <a href='{{ url_for('student_progress', classroom_id=classroom.id ,users_id=student.id ) }}'>
                {{ student }}
            </a>
            {% else %}
            {{ student }}
            {% endif %}
        </li>
    {% endfor %}
</ul>

{% endblock %}