{% extends 'layout.html' %}
{% block content %}

<div class='login-signup-enrol-background'>
  <div class='login-signup-enrol-wrapper'>
    <p id='title'>Sign Up</p> 
    
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
      
    <form method="POST" enctype="multipart/form-data"> 
        {{ form.csrf_token }} 
        <p>Username: {{ form.username }}</p>
        <p>Password: {{ form.password }}</p>
        <p>Are you a teacher? {{ form.is_teacher }}</p>
        <p><input type="submit" value="Submit"></p>
    </form>
  </div>
</div>

{% endblock %}