{% extends 'layout.html' %}
{% block content %}

<script>
    removeCount = 0;
    requestAmount = {{ requesting_teachers|length|tojson }};

    function searchFor(searchbar, accounts) {
        searchbar.addEventListener('keyup', function() {
            accounts.forEach(function(account) {
                if (account.querySelector('span').innerHTML.toLowerCase().includes(searchbar.value.toLowerCase()) == true) {
                    account.style.display = '';
                } else {
                    account.style.display = 'none';
                };
            });
        });
    };

    function grantRequest(request) {
        removeCount++;
        grantDict = {
            'grant' : request.id
        };
        xhttp = new XMLHttpRequest();
        xhttp.onload = function() {
            console.log(xhttp.responseText);
            request.remove();
        };
        xhttp.open('POST', '{{ url_for('grant_or_reject') }}');
        xhttp.setRequestHeader('Content-Type', 'application/json');
        xhttp.send(JSON.stringify(grantDict));

        if (removeCount == requestAmount) {
            noRequestMessage = document.getElementById('message');
            noRequestMessage.style.display = '';
        };
    };
    function rejectRequest(request) {
        removeCount++;
        grantDict = {
            'reject' : request.id
        };
        xhttp = new XMLHttpRequest();
        xhttp.onload = function() {
            console.log(xhttp.responseText);
            request.remove();
        };
        xhttp.open('POST', '{{ url_for('grant_or_reject') }}');
        xhttp.setRequestHeader('Content-Type', 'application/json');
        xhttp.send(JSON.stringify(grantDict));

        if (removeCount == requestAmount) {
            noRequestMessage = document.getElementById('message');
            noRequestMessage.style.display = '';
        };
    };
</script>

<div class='reqteach-title-background'>
    <p>Grant teacher roles</p>
</div>

<div class='reqteach-background'>

    <input class='reqteach-search' id='search' form='none' type='text' placeholder='Search for an account.'>

    {% if not requesting_teachers %}
        <p>No accounts requesting to be a teacher.</p>
    {% endif %}

    <p id='message' style='display: none;'>No accounts requesting to be a teacher.</p>

    {% if requesting_teachers %}

        <div class='reqteach-accounts-grid'>

        {% for teacher in requesting_teachers %}

            <div class='reqteach-accounts' id='{{ teacher.id }}'>
                <span>{{ teacher.id }} | {{ teacher }}</span>
                <button onclick='grantRequest(document.getElementById({{ teacher.id }}))' id='grant{{ loop.index  }}'>Grant</button>
                <button onclick='rejectRequest(document.getElementById({{ teacher.id }}))' id='reject{{ loop.index }}'>Reject</button>
            </div>

        {% endfor %}

        </div>

    <script>
        searchFor(document.getElementById('search'),
                  document.querySelectorAll('.reqteach-accounts'));
    </script>

    {% endif %}

</div>

{% endblock %}