{% extends 'layout.html' %}

{% block content %}
{% with user = current_user %}


<div class='deets-username'>
    <p>My Progress</p>
</div>

<div class='deets-sublist-container'>
    <div class='deets-sublist'>
        <button id='sublist1'>Sublist 1</button>
        <button id='sublist2'>Sublist 2</button>
        <button id='sublist3'>Sublist 3</button>
    </div>
</div>

{% with progtrack1 = comp(user.progtrack, 1)[0],
   progtrack2 = comp(user.progtrack, 2)[0],
   progtrack3 = comp(user.progtrack, 3)[0] %}

<div class='deets-prog-background'>
    <div class='deets-prog-grid'>

        {% if progtrack1.fill_progress %}
        <div class='deets-fill'>
            <p class='deets-prog-title'>Your progress in fill in the blanks is:</p>
            {% with progress = ((progtrack1.fill_progress|json_loads|length / 180) * 100)|round(2) %}
                <div class='deets-prog-pie' style='--percentage:{{ progress }}; --border-thickness:30px; --color:#704d4a;'><span>{{ progress }}%</span></div> 
                <p><strong>Sublist No. {{ progtrack1.sublist }}</strong> -  {{ progress }}% ({{ progtrack1.fill_progress|json_loads|length }} words out of 180)</p>
            {% endwith %}
        </div>
        {% endif %}

        {% if progtrack2.fill_progress %}
        <div class='deets-fill' style='display: none;'>
            <p class='deets-prog-title'>Your progress in fill in the blanks is:</p>
            {% with progress = ((progtrack2.fill_progress|json_loads|length / 180) * 100)|round(2) %}
                <div class='deets-prog-pie' style='--percentage:{{ progress }}; --border-thickness:30px; --color:#704d4a;'><span>{{ progress }}%</span></div> 
                <p><strong>Sublist No. {{ progtrack2.sublist }}</strong> -  {{ progress }}% ({{ progtrack2.fill_progress|json_loads|length }} words out of 180)</p>
            {% endwith %}
        </div>
        {% endif %}

        {% if progtrack1.form_progress %}
        <div class='deets-form'>
            <p class='deets-prog-title'>Your progress in change the form is:</p>
            {% with progress = ((progtrack1.form_progress|json_loads|length / 180) * 100)|round(2) %}
                <div class='deets-prog-pie' style='--percentage:{{ progress }}; --border-thickness:30px; --color:#704d4a;'><span>{{ progress }}%</span></div> 
                <p><strong>Sublist No. {{ progtrack1.sublist }}</strong> -  {{ progress }}% ({{ progtrack1.form_progress|json_loads|length }} words out of 180)</p>
            {% endwith %}
        </div>
        {% endif %}

        {% if progtrack1.match_progress %}
        <div class='deets-match'>
            <p class='deets-prog-title'>Your progress in match the words is:</p>
            {% with progress = ((progtrack1.match_progress|json_loads|length / 160) * 100)|round(2) %}
                <div class='deets-prog-pie' style='--percentage:{{ progress }}; --border-thickness:30px; --color:#704d4a;'><span>{{ progress }}%</span></div> 
                <p><strong>Sublist No. {{ progtrack1.sublist }}</strong> -  {{ progress }}% ({{ progtrack1.match_progress|json_loads|length }} words out of 60)</p>
            {% endwith %}
        </div>
        {% endif %}

        {% if progtrack1.qna_progress %}
        <div class='deets-qna'>
            <p class='deets-prog-title'>Your progress in question and answer is:</p>
 
                {% with progress = ((progtrack1.qna_progress|json_loads|length / 60) * 100)|round(2) %}
                    <div class='deets-prog-pie' style='--percentage:{{ progress }}; --border-thickness:30px; --color:#704d4a;'><span>{{ progress }}%</span></div> 
                    <p><strong>Sublist No. {{ progtrack1.sublist }}</strong> -  {{ progress }}% ({{ progtrack1.qna_progress|json_loads|length }} words out of 60)</p>
                {% endwith %}
        </div>
        {% endif %}

        
        {% if progtrack1.quiz_progress %}
        <div class='deets-quiz'>
            <p class='deets-prog-title'>Your progress in quiz is:</p>    
                {% with progress = ((progtrack1.quiz_progress|json_loads|length / 60) * 100)|round(2) %}
                    <div class='deets-prog-pie' style='--percentage:{{ progress }}; --border-thickness:30px; --color:#704d4a;'><span>{{ progress }}%</span></div> 
                    <p><strong>Sublist No. {{ progtrack1.sublist }}</strong> -  {{ progress }}% ({{ progtrack1.fill_progress|json_loads|length }} words out of 60)</p>
                {% endwith %}
        </div>
        {% endif %}

    </div>
</div>

{% endwith %}

{% endwith %}

{% include 'footer.html' %}

{% endblock %}