{% extends 'layout.html' %}

{% block content %}
hi, {{ user.username }}! Your ID is {{ user.id }}

<h4>Your progress in fill in the blanks is:</h4>

<ul>
    {% for progtrack in user.progtrack %}
        {% set values = progtrack.fill_progress|json_loads|items %}
        {% set sublist = values[0] %}
        {% set correct_list = values[1] %}
            {% if progtrack.fill_progress %}
                <li>Sublist {{ sublist }} - {{ (correct_list|length / 180 * 100)|round(2) }}%</li>
            {% endif %}
    {% endfor %}
</ul>

<h4>Your progress in changing the form is:</h4>

<ul>
    {% for progtrack in user.progtrack %}
        {% set values = progtrack.form_progress|json_loads|items %}
        {% set sublist = values[0] %}
        {% set correct_list = values[1] %}
            {% if progtrack.form_progress %}
                <li>Sublist {{ sublist }} - {{ (correct_list|length / 180 * 100)|round(2) }}%</li>
            {% endif %}
    {% endfor %}
</ul>

<h4>Your progress in match the words is:</h4>

<ul>
    {% for progtrack in user.progtrack %}
        {% set values = progtrack.match_progress|json_loads|items %}
        {% set sublist = values[0] %}
        {% set correct_list = values[1] %}
            {% if progtrack.match_progress %}
                <li>Sublist {{ sublist }} - {{ (correct_list|length / 60 * 100)|round(2) }}%</li>
            {% endif %}
    {% endfor %}
</ul>

<h4>Your progress in question and answer is:</h4>

<ul>
    {% for progtrack in user.progtrack %}
        {% set values = progtrack.qna_progress|json_loads|items %}
        {% set sublist = values[0] %}
        {% set correct_list = values[1] %}
            {% if progtrack.qna_progress %}
                <li>Sublist {{ sublist }} - {{ (correct_list|length / 60 * 100)|round(2) }}%</li>
            {% endif %}
    {% endfor %}
</ul>
{% endblock %}