{% extends 'layout.html' %}

{% block content %}

<!--Flash messages-->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<!--Search bar-->
<div class='word-searchbar'>
    <form action='{{ url_for('word_lookfor') }}', method="GET" enctype="multipart/form-data">
    {{ form.searching(placeholder='Search for a word!') }}
</form>
</div>
    
<!--Displays the word itself as a heading.-->
<div class='word-title-background'>
    <p>{{word.word}}</p>
</div>

<!--Shows the definition of the word.-->
<div class='word-definition'>
<ol>
{% for definition in word.definition %}
    <!--Decides which type of definition it is: (Noun, Verb, Adjective)-->
    {% set type = None %}

    {% if definition.type == 1 %}
        {% set type = "Noun" %}

    {% elif definition.type == 2 %}
        {% set type = "Verb" %}

    {% elif definition.type == 3 %}
        {% set type = "Adjective" %}

    {% endif %}

    <!--Lists the type of definition and the definition itself.-->
    <li>{{type}}<p>{{definition.definition}}</p></li>
{% endfor %}
</ol>
</div>

<div class='word-content-background'>
    <div class='word-content-grid'>
        <!--Links the picture of the word. (placeholders for now)-->
        <div class='word-picture'>
            <img src = "{{word.picture}}" alt = "mga mukha nyo to mwuahaha"/>
        </div>  


        <!--Shows the different forms of the word and the sentences using each form.-->
        <div class='word-form'>
        <p>Other Forms</p>
        <ul>
        {% for form in word.form %}
        <!--Decides which type of form it is: (Noun, Verb, Adjective)-->
            {% set type = None %}   

            {% if form.form_class == 1 %}
                {% set type = "Noun" %} 

            {% elif form.form_class == 2 %}
                {% set type = "Verb" %} 

            {% elif form.form_class == 3 %}
                {% set type = "Adjective" %}    

        {% endif %} 

            <!--Lists the type of form, the form itself, and the form used in a sentence.-->
            <li>{{type}} - {{form}}</li>
        {% endfor %}
        </ul>
        </div>


        <!--Shows the synonyms of the word.-->
        <div class='word-synonym'>
        <p>Synonyms</p>   

        <!--Lists the synonyms.-->
        <ul>
        {% for synonym in word.synonym %}
            <li>{{synonym}}</li>
        {% endfor %}
        </ul>   
        </div>


        <!--Shows the collocations of the word.-->
        <div class='word-collocation'>
        <p>Collocations</p>   

        <!--Lists the collocations.-->
        <ul>
            {% for collocation in word.collocation %}
                <li>{{collocation}}</li>
            {% endfor %}
        </ul>
        </div>

        <div class='word-sentence'>
            <p>In a Sentence</p>
            <ul>
                {% for form in word.form %}
                    <li>{{ form.sentence }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<!--Next word and Previous Word feature.-->
<div class='word-nextprev'>
{% if previous_word != None %}
<a href = {{ url_for('word_listed', word = previous_word) }}><button>Previous Word</button></a>
{% endif %}

{% if next_word != None %}
<a href = {{ url_for('word_listed', word = next_word) }}><button>Next Word</button></a>
{% endif %}
</div>

{% include 'footer.html' %}

{% endblock %}
