{% include 'nav.html' %}

<!--'Next' and 'Previous' feature-->
<ul>
    {% if word.id != 1%}
    <li><a href = "/sublist/words/{{word.id - 1}}">Previous Word</a></li>
    {% endif %}

    {% if word.id + 1 != 61 %}
    <li><a href = "/sublist/words/{{word.id + 1}}">Next Word</a></li>
    {% endif %}
</ul>

<!--Info about the word.-->
You picked Word No. {{word.id}}

<h1>{{word.word}}</h1>

<h3>Definition</h3>
<ul>
{% for definition in word.definition %}
    <!--For the type of definition: (Noun, Verb, Adjective)-->
    {% set type = None %}

    {% if definition.type == 1 %}
        {% set type = "Noun" %}

    {% elif definition.type == 2 %}
        {% set type = "Verb" %}

    {% elif definition.type == 3 %}
        {% set type = "Adjective" %}

    {% endif %}
    <li><p>{{type}} - {{definition.definition}}</p></li>
{% endfor %}
</ul>
<!--Links the picture (placeholders for now)-->
<!--img src = "{{word.picture}}" width = "200" height = "200" alt = "mga mukha nyo to mwuahaha"/-->  

<h3>Forms</h3>

<ul>
{% for form in word.form %}
<!--For the type of form: (Noun, Verb, Adjective)-->
    {% set type = None %}

    {% if form.form_class == 1 %}
        {% set type = "Noun" %}

    {% elif form.form_class == 2 %}
        {% set type = "Verb" %}

    {% elif form.form_class == 3 %}
        {% set type = "Adjective" %}

<!--Different forms of the word; Sentences using each form-->
{% endif %}
    <li>{{type}} - {{form}} - {{form.sentence}}</li>
{% endfor %}
</ul>

<h3>Synonym</h3>
<!--Synonyms of the word-->
<ul>
{% for synonym in word.synonym %}
    <li>{{synonym}}</li>
{% endfor %}
</ul>

<h3>Collocation</h3>
<!--Collocations of the word-->
<ul>
    {% for collocation in word.collocation %}
        <li>{{collocation}}</li>
    {% endfor %}
</ul>